$color-dark: #555;
$color-light: #f2f2f2;
$bright: #ffffff;
$accent: #ffffff;
$darkest: #000;

$color-main: $color-dark;
$color-alt: $color-light;
$color-neutral: #aaa;
$text-color: #333;
$text-rev: #f2f2f2;
$app-bg: #333;

$sm: 32rem;
$md: 64rem;

@mixin xs {
  @media (max-width: #{$sm}) {
    @content;
  }
}

@mixin sm {
  @media (min-width: #{$sm}) and (max-width: #{$md - 1px}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$md}) {
    @content;
  }
}


* {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  box-sizing: border-box;
  list-style-type: none;

}

html, body, #root, .App {
  //height: 100vh;
  width: 100vw;
  height: 100vh;
  background: $app-bg;
    color: $text-color;
  position: absolute; }

.view {
  display: flex;
  justify-content: space-around;
  justify-content: flex-start;
  flex-flow: column;
  padding: 2vw;
  overflow: hidden;
  &-player {
    color: white;
  }
  &-inner {
    display: flex;
    flex-flow: column;
  }
}

$card-height: 8rem;
$card-width: 7rem;

.deck {
  display: flex;
  flex-flow: row;
  flex: 1 0 $card-height;
  height: $card-height;
  max-height: $card-height;
  cursor: pointer;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 2vw 0 2vw;
  position: relative;
  &--true {
    &:after {
      content: "Next Turn";
      position: absolute;
      color: $bright;
      font-size: 1rem;
      text-transform: uppercase;
      line-height: 4;
      vertical-align: middle;
      top: 2rem;
      bottom: 2rem;
      left: 2rem;
      right: 10rem;
      border-radius: 2rem;
      vertical-align: center;
      background-color: transparentize($color-main, 0.3);
      border: solid $bright 0.2rem;
      z-index: 20;
      pointer-events: none;
    }
    &:hover {
      &:after {
        opacity: 0.5;
      }
    }

  }

}


.card {

  height: 7rem;
  width: 2rem;
  flex: 0 2 3rem;
  position: relative;
  overflow-x: visible;
  z-index: 1;
  transition: all ease .4s;
  transform-style: preserve-3d;
  transform-origin: center;
  //transform: rotateY(0deg);
  //backface-visibility: hidden;




  &-inner {
  position: absolute;
  border-radius: 0.3rem;
  border: solid #c9c9c9 0.3rem;
  transform-style: preserve-3d;
  transition: inherit;

  height: $card-height;
  width: $card-width;
  max-width: 300%;
  color: $text-color;

    &--active {
        //animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s 1 normal both;
    }
    &:hover {
      background: #fff;
      box-shadow: -0.3rem 0.3rem 0 transparentize($darkest, 0.6);
    }
  }

  &-name {
    //transition: all step-end .1s;
    opacity: 1;
    transition: opacity step-end .2s;
  }

  &-letter {
    font-weight: bold;
    font-size: 1.5rem;
    opacity: 1;
    transition: opacity step-end .2s;
    //transition: all step-start .2s;


    &:first-child {
      align-self: flex-start;
    }

    &:last-child {
    align-self: flex-end;
    }
  }

  &-back {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      //backface-visibility: hidden;
      background-color: $color-main;
      //display: none;
      &:after {
        //content: "Click to Flip";
        color: white;

      }
  }

  &-front {
    background-color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
      padding: .25rem;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  &--faceup {
    z-index: 5;
    .card-inner {
      box-shadow: -0.2rem 0.2rem 0 transparentize($darkest, 0.6);
    }

  }

  &--next {
    //margin-left: auto;
  }

  &--facedown {
      transform: rotateY(-180deg);
      .card-inner {
        transform: translateX(-13vw);
        box-shadow: 0.2rem 0.2rem 0 transparentize($darkest, 0.6);
      }

  }
}

.button {
  z-index: 10;
  text-align: center;
  margin: .75rem 1rem;
  padding: 0.3rem 0.6rem;
  max-width: 50%;
  border-radius: 10rem;
  color: $text-color;
  background: $color-alt;
  font-size: 1rem;
  align-self: center;
  cursor: pointer;
  border: solid transparent 1px;

  &-shuffle {
    margin: 0 0 0 auto;
    flex: 0 1 6rem;
    height: 3rem;
    //line-height: 3rem;
    vertical-align: middle;
    padding: 1.5rem;
    align-self: center;
    cursor: pointer;
    @include xs {
      position: absolute;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      right: -4vw;
      padding-left: 1rem;
    }
  }

  &-count {
    color: $text-rev;
    font-weight: 900;
    font-size: 1.5rem;
    padding: 0.3rem 1rem;
    text-align: center;
  }

  &-count-add {
    background-color: #1B5E20;
    order: 4;
  }

  &-count-minus {
    background-color: #B71C1C;
    order: 2;
  }

  &-count-remove {
    background-color: $color-main;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1rem;
    font-weight: 200;
    margin: 0.5rem;
    padding: 0.2rem;

  }

  &:hover {
    background-color: $color-main;
    border-color: $color-neutral;
    color: $color-alt;
  }
  &-settings {
    &--true {
      background-color: $color-main;
      border-color: $color-neutral;
      color: $color-alt;
    }
  }
}

.entities {
display: flex;
justify-content: space-around;
}

.counters {
  flex-basis: 4;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

  .counter {
    padding: 0.5rem;
    margin: 1rem 0.5rem;
    flex: 1 1 auto;
    border: solid $color-neutral .2px;
    background-color: $color-main;
    box-shadow: -0.2rem 0.2rem 0 transparentize($darkest, 0.6);
    border-radius: .25rem;
    position: relative;
    max-width: 40%;
    transition: all 0.2s ease;
    align-content: center;
    color: $bright;
    font-weight: 300;
    //display: flex;
    //flex-wrap: wrap;

    @include xs {
      flex-flow: column;
    }

    &-name {
      flex: 3 0 auto;
      color: inherit;
      font-weight: inherit;
    }

    &-count {
      font-size: 1.5rem;
      color: inherit;
      font-weight: inherit;
    }

    &-entity {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      &-name {
        flex: 3 0 100%;
        order: 1;
        @include xs {
          flex: 3 0 auto;
        }

      }
      &-count {
        order: 3;
        align-self: center;
      }
    }

    &-button {
      flex: 0 1 auto;

    }


    &:hover, &:active, &:focus {
      //transform: translateY(-0.5rem);
      background: lighten($color-main, 5%);
      box-shadow: -0.3rem 0.3rem 0 transparentize($darkest, 0.6);

    }
  }



.modal {
  background-color: $color-main;
  border: solid black 1px;
  height: 20rem;
  width: 20rem;
  position: absolute;
  align-self: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  z-index:10;

  &-input {
    border: inherit;
    margin: 1rem;
    padding: 1rem; }
  &-button {
    margin: 1rem; }
  &--false {
    display: none; }
  &--true {
    display: flex; }

}

.settings-label {
  color: $text-rev;
}



.charges {
  display: flex;
  margin: 0 auto;
  cursor: pointer;
}
.charge {
  position: relative;
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  background-color: $color-main;
  margin: 1rem;
  &--active {
    background-color: $accent;
  }
}

.menu {
  color: $text-rev;
  background-color: #3E2723;
  position: absolute;
  z-index: 50;
  right: -0.5rem;
  top: 0;
  transform: translateX(100%);
  transition: all ease-in .2s;
  padding: 3rem;
  height: 100vh;
  width: 25rem;
  max-width: 100%;
  box-shadow: -0.5rem 0 0 transparentize($darkest, 0.6);
  &--true {
    transform: translateX(0%);
  }

  &-section {
    &-toggle {
      position: relative;
      display: inline-block;
      width: 4rem;
      height: 2rem;
      &-function {
        position: absolute;
        visibility: hidden;
        margin-left: -9999px;
      }
      &-display {
        position: absolute;
        display: block;
        background: $color-alt;
        height: 1.5rem;
        width: 2.5rem;
        cursor: pointer;
        border-radius: 1rem;

        input:checked + & {
          &:before {
            transform: translateX(100%);

          }
        }
        &:before {
          content: "";
          margin: 0.25rem;
          height: 1rem;
          width: 1rem;
          display: block;
          background-color: $color-main;
          transition: all ease .2s;
          border-radius: 1rem;
        }
      }
    }
  }
}
@-webkit-keyframes flip-vertical-right {
    0% {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg)
    }

    to {
      -webkit-transform: rotateY(0);
      transform: rotateY(0)

    }
}

@keyframes flip-vertical-right {
    0% {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg)

    }

    to {

      -webkit-transform: rotateY(0);
      transform: rotateY(0)

    }
}
